:root {
  --background: #ffffff;
  --foreground: #1a1a1a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
  width: none;
}

html {
  scrollbar-width: none;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-size: 18px;
  color: #c1c1c1;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #4fc3f7;
  cursor: pointer;
}

.nav-link:active {
  color: #4fc3f7;
}

.button {
  transition: "background 0.3s ease";
}

.button:hover {
  background: linear-gradient(to right, #4fc3f7 0%, #ffffff 100%);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
